body{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#89f7fe,#66a6ff);


}

.counter-container{

    text-align: center;
    background: rgba(red, green, blue, alpha);
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(red, green, blue, alpha);

}

#count{

    font-size: 3em;
    margin: 20px 0;
    transition: transform 0.2s ease, color 0.2s ease;

}

.count-change{

    transform: scale(1.5s);
    color: #ff5722;

}

button{

    padding: 10px 20px;
    margin: 5pxx;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    background-color: #4CAF50;
    color: white;
    transition: transform 0.1 ease ,background-color 0.2 ease;


}

button:hover{

    background-color: #45a049;
    transform: scale(1.1s);

}

button:active{

    transform: scale(0.95);
}